html, body{
    height: 100%;
    margin: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar*/

.navbar{
    background-color: #ffacc5;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.navbar-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
    margin-left: 10px;
}

.navbar-heading p{
    font-style: italic;
}

.navbar-buttons{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 20px;
}

.navbar-buttons a{
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    padding: 13px 50px;
    border-radius: 25px;
}

.main-button{
    background-color: black !important;
    color: white !important;
}

/* Main Home Page*/

.main-page-flexbox{
    width: 75%;
    padding-left: 200px;
    margin-top: 10%;
    display: flex;
}

.main-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container{
    display: grid;
    grid-template-rows: 1fr .1fr;
    grid-template-columns: .1fr;
    gap: 10px;
}

.main-page-img {
    background-color: #ffacc5;
    width:450px;
    height: 500px;
    
}

.main-page-link{
    justify-self: center;
}

.main-page-bio{
    display: grid;
    grid-template-rows: .1fr 1fr;
}

.main-page-bio p, h1{
    text-align: center;
}

/* Footer */

.flex-footer-container{
    padding-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: left;
    margin-top: 100px;
}

.flex-footer-container img{
    width: 50px;
    height: 50px;  
    vertical-align: middle;
}

.flex-footer-container a{
    margin-left: 5px;
}

/* Animation Page*/

.anim-page-grid{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr .1fr 1fr .1fr;
   margin-top: 10%;
}

.anim-demo-reel{
    width: 800px;
    height: 500px;
    grid-column: 2 / span 2;
}

.anim-demo-text{
    grid-row: 2;
    grid-column: 2 / span 2;
    text-align: center;
    margin-right: 100px;
}

.anim-videos{
    width: 500px;
    height: 300px;
    grid-row: 3;
}

.anim-text{
    grid-row: 4;
    text-align: center;
    margin-right: 100px;
}

.enderlilies
{
    grid-column: 1;
    padding-left: 50px;
    margin-top: 100px;
}

.life-over-infinite{
    grid-column: 4;
}

