html, body{
    height: 100%;
    margin: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar*/

.navbar{
    background-color: #ffacc5;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
    margin-left: 10px;
}

.navbar-heading p{
    font-style: italic;
}

.navbar-buttons{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 20px;
}

.navbar-buttons a{
    text-decoration: underline;
    text-align: center;
    color: black;
    background-color: white;
    padding: 13px 50px;
    border-radius: 25px;
}

.main-button{
    background-color: black !important;
    color: white !important;
}

/* Main Home Page*/

.main-page-flexbox{
    width: 75%;
    padding-left: 200px;
    margin-top: 10%;
    display: flex;
}

.main-page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container{
    display: grid;
    grid-template-rows: 1fr .1fr;
    grid-template-columns: .1fr;
    gap: 10px;
}

.main-page-img {
    background-color: #ffacc5;
    width:450px;
    height: 500px;
    
}

.main-page-link{
    justify-self: center;
    text-decoration: underline;
}

.main-page-bio{
    display: grid;
    grid-template-rows: .1fr 1fr;
}

.main-page-bio p, h1{
    text-align: center;
}

/* Footer */

.flex-footer-container{
    padding-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: left;
    margin-top: 100px;
}

.flex-footer-container img{
    width: 50px;
    height: 50px;  
    vertical-align: middle;
}

.flex-footer-container a{
    margin-left: 5px;
}

/* Animation Page*/

.anim-first-grid{
    display: grid;
    grid-template-columns: repeat(500px);
    grid-template-rows: 500px 50px;
    gap: 20px;
    margin-top: 10%;
}

.anim-demo-reel{
    width: 800px;
    height: 500px;
    grid-column: 2 / span 2;
    margin-left: 200px;
}

.anim-first-grid-heading{
    grid-row: 2;
    grid-column: 2 / span 2;
    text-align: center;
    margin-right: 15%;}

.anim-page-grid{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr .1fr 1fr .1fr;
   margin-top: 50px;
}

.anim-second-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr .1fr;   
    margin-top: 50px;
}

.anim-page-enderlilies-vid{
    grid-column: 1 / span 2;
    width: 500px;
    height: 300px;
    margin-left: 10px;
}

.anim-page-hat-girl-gif{
    grid-column: 6;
    width: 490px;
    height: 300px;
    margin-left: 50px;
}

.anim-page-gooblob-gif{
    grid-row: 1;
    grid-column: 3;
    width: 350px;
    height: 300px;
    margin-left: 30px;
    margin-right: 20px;
}

.anim-page-game-trailer-vid{
    grid-row: 1;
    grid-column: 4 / span 2;
    width: 500px;
    height: 300px;
}

.anim-second-grid p{
    margin-top: 30px;
}

.anim-page-enderlilies-text{
    grid-row: 2;
    grid-column: 1 / span 2;
    text-align: center;
    margin-left: 20px;
}

.anim-page-gooblob-text{
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    margin-right: 30px;
}

.anim-page-game-trailer-text{
    grid-row: 2;
    grid-column: 4 / span 2;
    text-align: center;
}

.anim-page-hat-girl-text{
    grid-row: 2;
    grid-column: 6;
    text-align: left;
    margin-left: 100px;
}

/* 3D Page */

.threeD-page-container{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.threeD-page-grid-container{
    margin-bottom: 70px;
}

.threeD-first-video{
    height: 600px;
    width: 1200px;
}

.threeD-first-grid{
    display: grid;
    grid-template-columns: repeat(3, 450px);
}

.threeD-first-grid-photos{
    width: 450px;
    height: 300px;
    margin-left: 90px;
}

.threeD-second-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.threeD-second-grid-photos{
    width: 370px;
    height: 240px;
    margin-left: 30px;
}

.threeD-content-text{
    text-align: center;
    margin-bottom: 20px;
}

/* Vtuber Page */

.vtuber-grid-holder{
    margin-bottom: 5%;
}

.vtuber-first-grid{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr 1fr;
    grid-template-rows: 1fr .1fr;
    justify-self: left;
    margin-left: 5%;
    margin-top: 10%;
}

.vtuber-rig-video{
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 500px;
    width: 800px;
}

.pngtuber-showcase-video{
    grid-column: 4;
    grid-row: 1;
    height: 500px;
    width: 350px;
    
    margin-left: 10%;
}

.rig-video-text{
    grid-column: 1 / span 2;
}

.pngtuber-showcase-text{
    grid-column: 4;
    grid-row: 2;
    margin-left: 10%;
}

.vtuber-second-grid{
    display: grid;
    grid-template-columns: .5fr 1fr .02fr 1fr 1fr .2fr;
    grid-template-rows: 150px 20px;
}

.channel-points-icon{
    grid-row: 1;
    grid-column: 2;
    height: 100px;
    justify-self: center;
    margin-top: 12%;

}

.channel-points-icon-text{
    grid-row: 2;
    grid-column: 2;
}

.twitch-emotes-lily{
    grid-row: 1;
    grid-column: 5;
    justify-self: start;
    margin-top: 15%;
}

.twitch-emotes-ghosts{
    grid-row: 1;
    grid-column: 4;
    justify-self: end;
    margin-top: 12%;
}

.twitch-emotes-text{
    grid-row: 2;
    grid-column: 4 / span 2;
}

.vtuber-third-grid{
    display: grid;
    grid-template-columns: .1fr 1fr 1fr .1fr;
    grid-template-rows: 1fr .1fr;
}

.slumberlynn-vtuber-design{
    height: 500px;
    width: 750px;
    grid-column: 2;
    grid-row: 1;
    margin-top: 65px;
}

.slumberlynn-vtuber-design-text{
    grid-column: 2;
    grid-row: 2;
}

.slumberlynn-vtuber-bundle{
    height: 600px;
    width: 700px;
    grid-column: 3;
    grid-row: 1;
}

.slumberlynn-vtuber-bundle-text{
    grid-column: 3;
    grid-row: 2;
}

.vtuber-content-text{
    text-align: center;
}

.vtuber-fourth-grid{
    display: grid;
    grid-template-columns: .1fr 1fr .5fr 1fr .1fr;
    grid-template-rows: 1fr .1fr;
}

.hevy-pic{
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    height: 500px;
}

.hevy-pic-text{
    grid-column: 2;
    grid-row: 2;
    margin-right: 25%;
}

.lily-fugitech-grid{
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: end;
}

.lily-fugitech-text{
    grid-row: 2;
    grid-column: 3;
}

.lily-fugitech-active-pic{
    grid-row: 2;
    width: 300px;
    height: 250px;
}

.lily-fugitech-inactive-pic{
    grid-row: 1;
    width: 300px;
    height: 250px;
}

.lily-streamer-pic{
    grid-column: 4;
    grid-row: 1;
    width: 500px;
    height: 500px;
    justify-self: end;
}

.lily-streamer-text{
    grid-row: 2;
    grid-column: 4;
    margin-left: 25%;
}

/* Illustration Page */

.illust-grid-container{
    margin-top: 5%;
}

.content-text{
    text-align: center;
}

.illust-first-grid{
    display: grid;
    grid-template-columns: .01fr 1fr 1fr 1fr .1fr;
    grid-template-rows: 1fr;
    margin-top: 10%;
}

    .cards-grid{
        grid-row: 1;
        grid-column: 2;
        display: grid;
        grid-template-columns: 240px 240px;
        grid-template-rows: 400px;
        margin-right: 100px; 
        margin-top: 40px;  
    }

        .card-size{
            width: 400px;
            height: 400px;
        }


    .third-column{
        grid-column: 3;
        grid-row: 1;
        justify-self: center;

    }
    .illust-first-grid-inner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

        .mail-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }

            .mail-pic-size{
                width: 200px;
                height: 200px;
            }

        .lanterns-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }

            .lantern-pic-size{
                width: 200px;
                height: 200px;
                margin-left: -30px;
            }
    
    .fourth-column{
        grid-column: 4;
        grid-row: 1;
        margin-left: 20px;
    }

        .UI-pic{
            width: 250px;
            height: 95px;
            margin-top: 70px;
        }

        .fortune-teller-pic{
            width: 250px;
            height: 230px;
            margin-top: -40px;
        }

.illust-second-grid{
    display: grid;
    grid-template-columns: .01fr 1fr 1fr 1fr .01fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

    .bg-pics-size{
        width: 550px;
        height: 300px;
        justify-self: center;
    }

    .bg-pic-one{
        grid-row: 1;
        grid-column: 2;
    }

    .bg-pic-two{
        grid-row: 1;
        grid-column: 3;
    }
    
    .bg-pic-three{
        grid-row: 1;
        grid-column: 4;
    }

    .bg-pic-four{
        grid-row: 2;
        grid-column: 2;
    }

    .bg-pic-five{
        grid-row: 2;
        grid-column: 3;
    }

    .bg-pic-six{
        grid-row: 2;
        grid-column: 4;
    }

.illust-third-grid{
    display: grid;
    grid-template-columns: .01fr 1fr 1fr 1fr .01fr;
    grid-template-rows: 1fr .1fr;
}



.illust-fourth-and-fifth-grid{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: 1fr .1fr;
}

    .crabs-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

.illust-sixth-grid{
    display: grid;
    grid-template-columns: .4fr 1fr 1fr .4fr;
    grid-template-rows: 1fr .1fr;
}
